*.js filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.jsx filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.d.ts filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*-lock.json filter=lfs diff=lfs merge=lfs -text
*.config.json filter=lfs diff=lfs merge=lfs -text
*.config.js filter=lfs diff=lfs merge=lfs -text
